#main-nav {
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  background: #5d878c;
  padding-left: 0px;
}

#main-nav li {
  display: block;
  border-bottom: 1px solid white;
}

#main-nav a {
  text-decoration: none;
  padding: 5px;
  color: white;
  display: block;
}

#main-nav a:hover {
  background: #d98282;
}

#toggle {
  left: 5px;
  background: #5d878c;
  width: fit-content;
  padding: 1px 3px;
  margin-bottom: 2px;
}

#toggle div {
  width: 25px;
  height: 2px;
  background: white;
  margin: 6px 0;
}

.hide-small {
  display: none;
}

@media only screen and (min-width: 600px) {
  #toggle {
    display: none;
  }

  .hide-small {
    display: flex;
  }

  #main-nav li {
    display: inline-block;
    border-bottom: none;
  }
}
